@import "./userNav";
@import "./mixins";

.dashboard {
  &-content {
    &-empty {
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      color: white;
      font-size: 21px;
      font-weight: 600;
      padding: 0 60px;
      img {
        width: 600px;
      }
      &-text {
        margin: 20px 0;
        text-align: center;
      }
      &-button {
        @include activeTextButton;
        color: #2e7d32 !important;
      }
    }
    &-list {
      padding: 40px 60px 60px;
      &-heading {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-button {
          @include activeOutlinedButton;
          color: #2e7d32 !important;
          border-color: rgb(6, 87, 16) !important;
        }
      }
      &-tab {
        &-item {
          color: white !important;
          text-transform: capitalize !important;
          font-size: 16px !important;
          font-weight: 600 !important;
        }
        .Mui-selected {
          color: #7b6dd3 !important;
          span {
            border-color: #7b6dd3 !important;
          }
        }
        .MuiTabs-indicator {
          background-color: #7b6dd3 !important;
        }
      }
      &-items {
        margin-top: 2.4rem;
        color: white;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        justify-content: center;
        grid-auto-flow: dense;
        gap: 60px 30px;
        text-align: center;
        &-nodata {
          grid-column: 1/-1;
          justify-self: start;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          button {
            @include activeTextButton;
            color: #7b6dd3 !important;
          }
        }
        &-item {
          width: 100%;
          border-radius: 11px;
          border: 2px double #7b3bb7;
          //   border: 2px double #67676763;
          padding: 10px;
          position: relative;
          &-social {
            position: absolute;
            padding: 4px;
            top: 0;
            right: 0;
            background: #ffffff;
            border-radius: 50%;
            transform: translate(50%, -50%);
          }

          &-keyword {
            position: absolute;
            color: black;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius: 7px;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 10px;
          }
          img {
            width: 100%;
            border-radius: 7px;
            margin-bottom: 10px;
          }
          &-actions {
            position: absolute;
            color: black;
            bottom: -24px;
            right: -2px;
            background-color: #171717;
            border-radius: 7px;
            border: 1px solid #7b3bb7;
            font-size: 14px;
            font-weight: 600;
            padding: 0px 10px;
          }
        }
      }
    }
  }
}

.delete-dialog,
.edit-dialog,
.social-dialog {
  width: 450px;
  color: white;
  text-align: center;
  padding: 25px 20px;
  margin: 0 auto;
  &-heading {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    &-cancel {
      @include activeOutlinedButton;
      width: 100px !important;
    }
    &-delete {
      @include activeContainedButton;
      min-width: 100px !important;
      background-color: #d32f2f !important;
    }
    &-save,
    &-share {
      @include activeContainedButton;
      min-width: 100px !important;
    }
  }
  &-content {
    width: 100%;
    border-radius: 11px;
    border: 2px double #7b3bb7;
    //   border: 2px double #67676763;
    padding: 10px;
    position: relative;
    margin: 27px 0 21px;
    &-social {
      position: absolute;
      padding: 4px;
      top: 0;
      right: 0;
      background: #ffffff;
      border-radius: 50%;
      transform: translate(50%, -50%);
    }

    &-keyword {
      position: absolute;
      color: black;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      background: #ffffff;
      border-radius: 7px;
      font-size: 14px;
      font-weight: 600;
      padding: 5px 10px;
    }
    img {
      width: 100%;
      border-radius: 7px;
      margin-bottom: 10px;
    }
    &-actions {
      position: absolute;
      color: black;
      bottom: -24px;
      right: -2px;
      background-color: #171717;
      border-radius: 7px;
      border: 1px solid #7b3bb7;
      font-size: 14px;
      font-weight: 600;
      padding: 0px 10px;
    }
  }
}

@media all and (max-width: 900px) {
  .dashboard {
    &-content {
      &-empty {
        padding: 0 20px;
      }
      &-list {
        padding: 40px 20px 60px;
      }
    }
  }
}
