.landing {
  background-color: #0c0b0b;

  &-hero {
    background: #141414;
    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1050px;
      margin: 0 auto;
      padding: 40px 0 0 0;
      &-logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        img {
          height: 24px !important;
        }
      }
      &-links {
        &-item {
          color: #ffffff !important;
          font-size: 16px !important;
          font-weight: 500 !important;
          text-transform: none !important;
          height: 40px !important;
          border-radius: 7px !important;
          padding: 0 20px !important;
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50vh;
      gap: 40px;
      margin: 0 auto 100px;
      max-width: 1050px;

      &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 10px;
          line-height: 55px;
        }
        &-text {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 40px;
          line-height: 30px;
          color: #ecd7ff;
        }
        &-buttons {
          display: flex;
          &-item {
            &-primary {
              margin-right: 30px !important;
              background-color: #7b6dd3 !important;
              width: 140px !important;
            }
            &-secondary {
              border-color: #f2f2f2 !important;
              color: #f2f2f2 !important;
              &:disabled {
                color: #3f3f3f !important;
                border-color: #3f3f3f !important;
                cursor: not-allowed !important;
              }
            }
            &-primary,
            &-secondary {
              font-size: 16px !important;
              color: #fff !important;
              font-weight: 600 !important;
              text-transform: capitalize !important;
              width: 150px !important;
              height: 44px !important;
              border-radius: 7px !important;
            }
          }
        }
      }
      &-image {
        scale: 0.8;
        width: 50%;
        border: 1px solid #818181;
        border-radius: 11px;
        background: #000000;
        padding: 20px 40px;
        max-width: 500px;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
  &-section {
    min-height: 60vh;
    color: white;
  }
  &-contact {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 60px;
    &-button {
      background-color: rgb(59 130 246) !important;
      text-transform: capitalize !important;
      font-size: 16px !important;
      margin-top: 8px !important;
      border-radius: 5px !important;
      color: white !important;
      transition: all 0.2s ease-out !important;
      width: 100%;
      padding: 8px !important;
      font-weight: bold !important;
      &:hover {
        background-color: rgb(29, 100, 214) !important;
      }
      &:disabled {
        background-color: #60a5fa !important;
        color: #c2c2c2 !important;
      }
    }
  }
}
