@import "./mixins";
@import "./logindialog";

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  img {
    height: 24px !important;
  }
}

.landing {
  background-color: #171717;

  &-hero {
    background: #141414;
    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1250px;
      margin: 0 auto;
      padding: 40px 30px 0;
      &-links {
        &-item {
          @include activeTextButton;
          font-weight: 500 !important;
          &-logout {
            @include activeTextButton;
            color: rgb(238, 88, 88) !important;

            svg {
              transform: scale(0.8);
              margin-right: 5px;
            }
          }
          &-login {
            font-size: 16px !important;
            font-weight: 500 !important;
            text-transform: none !important;
            height: 40px !important;
            border-radius: 7px !important;
            padding: 0 20px !important;
            &:disabled {
              color: #3f3f3f !important;
              border: 1px solid #3f3f3f !important;
              cursor: not-allowed !important;
            }
          }
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50vh;
      gap: 40px;
      margin: 20px auto 50px;
      max-width: 1250px;
      padding: 0 40px;
      &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 10px;
          line-height: 55px;
        }
        &-text {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 40px;
          line-height: 30px;
          color: #ecd7ff;
        }
        &-buttons {
          display: flex;
          &-item {
            &-primary {
              margin-right: 30px !important;
              background-color: #7b6dd3 !important;
              width: 140px !important;
            }
            &-secondary {
              border-color: #f2f2f2 !important;
              color: #f2f2f2 !important;
              &:disabled {
                color: #3f3f3f !important;
                border-color: #3f3f3f !important;
                cursor: not-allowed !important;
              }
            }
            &-primary,
            &-secondary {
              font-size: 16px !important;
              color: #fff !important;
              font-weight: 600 !important;
              text-transform: capitalize !important;
              width: 150px !important;
              height: 44px !important;
              border-radius: 7px !important;
            }
          }
        }
      }
      &-image {
        scale: 0.8;
        width: 50%;
        border: 1px solid #818181;
        border-radius: 11px;
        background: #000000;
        padding: 20px 40px;
        max-width: 500px;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
  &-section {
    max-width: 1250px;
    margin: 0 auto;
    color: white;
    padding-top: 40px;
  }
  &-explore {
    padding: 40px 60px;
    &-steps {
      margin: 2rem auto 0;
      max-width: 850px;
      .MuiStep-root {
        .Mui-completed {
          color: green !important;
        }
        .Mui-active {
          color: rgb(234, 242, 236) !important;
          .MuiStepIcon-text {
            fill: #000000 !important;
            font-weight: bold !important;
          }
        }
        .Mui-disabled {
          color: rgb(155, 150, 150) !important;
          .MuiStepIcon-text {
            fill: #bfbfbf !important;
          }
        }
      }
    }
    &-stepper {
      &-content {
        max-width: 1250px;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
      }
      &-buttons {
        display: flex;
        justify-content: center;
        gap: 40px;
        &-next button {
          @include activeContainedButton;
        }
        &-back button {
          @include activeOutlinedButton;
        }
      }
    }
    &-keyword {
      width: 100%;

      text-align: center;
      &-heading {
        text-align: center;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: bold;
      }
      &-input {
        max-width: 600px;
        width: 100%;
        input {
          color: white !important;
          border-radius: 11px !important;
        }
        label {
          color: rgb(111, 111, 111) !important;
        }
        .Mui-focused {
          color: white !important;
        }
        fieldset {
          border-color: rgb(182, 182, 182) !important;
          border-radius: 7px !important;

          &:hover {
            border-color: white;
          }
        }
      }
      &-suggestions {
        margin: 30px auto 0;
        max-width: 1050px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-heading {
          font-weight: bolder;
        }
        &-list {
          display: flex;
          flex-wrap: wrap;
          gap: 14px;
          font-size: 14px;
          margin-left: 14px;
          &-item {
            color: white;
            font-weight: bold;
            cursor: pointer;
            border: 1px dashed rgb(241, 167, 225);
            padding: 5px 10px;
            border-radius: 7px;
          }
        }
      }
      &-button {
        margin-top: 40px !important;
        @include activeContainedButton;

        &:disabled {
          @include disabledContainedButton;
          width: 179px !important;
        }
      }
    }
    &-prompts {
      width: 100%;
      max-width: 1050px;
      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        &-item {
          border: 1px solid rgb(123, 121, 121);
          padding: 10px 14px;
          border-radius: 7px;
          color: rgb(123, 121, 121);
          display: flex;
          align-items: center;
          cursor: pointer;
          input {
            display: none;
          }
          transition: all 0.15s ease;
        }
        &-item-active {
          color: rgb(215, 215, 215);
          border: 1.5px solid white;
          border-radius: 11px;
          box-shadow: rgba(85, 85, 85, 0.965) 3px 5px 5px;
        }
      }
      &-heading {
        text-align: center;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: bold;
      }
      &-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
        &-next {
          @include activeContainedButton;

          &:disabled {
            @include disabledContainedButton;
            width: 179px !important;
          }
        }
        &-back {
          @include activeOutlinedButton;
          &:disabled {
            @include disabledOutlinedButton;
          }
        }
      }
    }
    &-images {
      width: 100%;
      max-width: 1050px;
      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 30px;
        &-item {
          border: 1px solid rgb(123, 121, 121);
          padding: 10px;
          border-radius: 11px;
          color: rgb(123, 121, 121);
          display: flex;
          justify-content: center;
          cursor: pointer;
          input {
            display: none;
          }
          transition: all 0.2s ease;
        }
        &-item-active {
          color: rgb(215, 215, 215);
          border-color: white;
          border-width: 3px;
          box-shadow: rgba(184, 179, 179, 0.965) 0px 5px 15px;
        }
        img {
          border-radius: 7px;
        }
      }
      &-heading {
        text-align: center;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: bold;
      }
      &-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
        &-next {
          @include activeContainedButton;

          &:disabled {
            @include disabledContainedButton;
            width: 179px !important;
          }
        }
        &-back {
          @include activeOutlinedButton;
          &:disabled {
            @include disabledOutlinedButton;
          }
        }
      }
    }
    &-social {
      &-heading {
        text-align: center;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: bold;
      }

      &-image {
        position: relative;
        border-radius: 11px;
        width: 420px;
        height: 420px;
        margin: 0 auto;
        border-radius: 11px;
        border: 2px double #7b3bb7;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 7px;
          border: 1px solid rgb(70, 70, 70);
        }
      }
      &-description {
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 480px;
        margin: 10px 0 -10px;
        &-buttons {
          color: white;
          button {
            font-size: 14px !important;
            transform: scale(0.8);
          }
        }
        &-text {
          font-size: 16px;
          text-wrap: wrap;
          color: #ecd7ff;
          min-width: 370px;
          position: relative;
          form {
            text-align: center;
            textarea {
              min-height: 90px;
              width: 100%;
              padding: 10px 10px 0 10px;
              border-radius: 7px;
              color: black;
            }
            button {
              @include activeOutlinedButton;
              width: 180px !important;
              font-size: 14px !important;
              border-color: #7b6dd3 !important;
              color: #7b6dd3 !important;
              margin-top: 10px;
            }
          }
        }
      }

      &-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
        &-next {
          @include activeContainedButton;

          &:disabled {
            @include disabledContainedButton;
            width: 179px !important;
          }
        }
        &-back {
          @include activeOutlinedButton;
          &:disabled {
            @include disabledOutlinedButton;
          }
        }
      }
    }
  }
  &-feature {
    margin-top: 2rem;
    margin-bottom: 50px;
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 40px;
      &-item {
        margin-top: 1rem;
        border-radius: 11px;
        background: rgb(0, 0, 0);
        padding: 40px 30px;
        border: 1px solid #818181;
        &-icon {
          background: rgb(147, 139, 139);
          width: 52px;
          height: 52px;
          border-radius: 7px;
          margin-bottom: 1rem;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  &-contact {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 60px;
    &-button {
      background-color: rgb(59 130 246) !important;
      text-transform: capitalize !important;
      font-size: 16px !important;
      margin-top: 8px !important;
      border-radius: 5px !important;
      color: white !important;
      transition: all 0.2s ease-out !important;
      width: 100%;
      padding: 8px !important;
      font-weight: bold !important;
      &:hover {
        background-color: rgb(29, 100, 214) !important;
      }
      &:disabled {
        background-color: #60a5fa !important;
        color: #c2c2c2 !important;
      }
    }
  }
}

@import "./landingMobile";
