.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 9999;
}

.loading-animation {
  animation: scaleAnimation 0.5s infinite ease-in-out;
}

.primary-logo {
  filter: invert(18%) sepia(100%) saturate(7499%) hue-rotate(187deg)
    brightness(104%) contrast(119%);
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
